*{
  box-sizing: border-box;
}
/* "Clearfix" */
.cf:before,
.cf:after{
  display: table;

  content: "";
}
.cf:after{
  clear: both;
}

/* Reusable components */
.left{
  float: left;
}
.right{
  float: right;
}
body, p, h1, h2, h3, input, textarea{
  margin: 0;
  padding: 0;
  color: white;

  font-family: 'Roboto', sans-serif;
}
a{
  outline: none;
  color: white;

  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
input,
textarea{
  outline: none;

  border: none;
}


.wrapper{
  margin: 0 auto;

  max-width: 1100px;
}
section{
  overflow: auto;

  padding-top: 110px;
}
section p {
  margin-right: auto;

  margin-left: auto;
  width: 920px;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
}
section .title{
  margin-bottom: 60px;

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
}

/*button style*/
button{
  display: inline-block;
  padding:0;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}
.buttons {
  margin: 33px auto 40px;
  text-align: center;
}
/* прямоугольные кнопки */
.btn-rect {
  display: inline-block;
  margin-right: 60px;
  padding: 11px 14px 9px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;

  font-size: 13px;
}

.btn:hover{ /* плавное изменение видимости конопок */
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}
.btn-rect:hover{
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.btn-rect:active{
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, .1);
}
.btn:last-child {margin-right: 0;}

/* круглые кнопки */
.bottons-round {
  padding-top: 31px;
  padding-bottom: 31px;

  text-align: center;
}
.btn-round {
  display: inline-block;
  margin-right: 15px;

  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: .3;
}
.btn-round:active{
  border: 1px solid transparent;

  background-color: #fff;
  opacity: 1;
}
.btn-round:hover{
  border: 1px solid transparent;

  background-color: #fff;
  opacity: 1;
  cursor: pointer;
}

/*--- style background with picture --- */
.bg-pict{
  background-size: cover;

  background-repeat: no-repeat;
  /*width: 100%;*/
}




/*============ style navigation
*/

/* --- style brand ---*/
header{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 70px;

  background-color: rgba(211, 53, 35, 0.9);
  font-weight: 300;
  font-size: 14px;
}
.brand{
  margin-top: 8px;
}
.brand img {
  margin-right: 8px;

  vertical-align: middle;
}

/*--- style menu ---*/

.nav-item {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 70px;
}
.nav-item:hover{
  border-top: 5px solid rgba(255, 255, 255, 0.6);

  line-height: 60px;
}

/* ==============style slider
*/

.slider {
  padding-top: 167px;

  background-image: url(../img/bg-red.jpg);
}

.slider-main {
  margin: 0 auto 50px;

  text-align: center;
}

.promo-logo, .slider-secondary {
  margin: 0 auto;

  width: 920px;
}
.slider-third {
  margin-top: 37px;
  padding-bottom: 65px;
  text-align: center;
}

.slider-social-item{
  display: inline-block;
  margin-right: 20px;
}
.social-icon{
  height: 30px;
  opacity: .5;
}
.social-icon:hover{
  opacity: .8;
}
.icon-be{
  height: 28px
}
.slider-icon:hover{
  opacity: .9
}

.slider-buttons-container {
  position: absolute;
  top:50%;
  right: -1px;
  transform: translate(0, -50%);
}
.slider-button {
  margin: 15px auto;

  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: .3;
}
.slider-button:active{
  border: 1px solid transparent;

  background-color: #fff;
  opacity: 1;
}
.slider-button:hover{
  border: 1px solid transparent;

  background-color: #fff;
  opacity: 1;
  cursor: pointer;
}

/*====== style PAKALPOJUMI- services
*/


.bg-red {
  background-color: #d33523;
}

/*--- style services block ---*/
.services-blocks {
  padding-bottom: 75px;
  vertical-align: top;

  text-align: center;
}
.services-block {
  margin-right: 43px;

  width: 240px;
  text-align: center;
}
.services-block:last-child{
  margin-right:0;
}

.services-block img{
  margin-bottom: 20px;

  width: 88px;
  height: 88px;
}
.services-block h3{
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}
.services-block p{
  width: 240px;

  text-align: center;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
}


/*======= style MUSU DARBI - our_works
*/

.our_works {
  background-image: url(../img/bg-green.png);

}

.works-buttons{
  margin-bottom: 0;
}
.slider-photos {
  position: relative;
  float: left;

  width: 25%;
}
.our_works-photo{
  display: block;

  width: 100%;
}
.slider-content{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;

  display: inline-block;
  margin: auto;
  padding-top: 35%;
  background-color: rgba(87, 170, 104, 0.8);
  text-align: center;
  opacity: 0;
}
.slider-photos:hover .slider-content{
  opacity: 1;
}

.slider-icon{
  margin-bottom: 35px;
}
.slider-icon{
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url("../img/slider-pict/skatit.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.our_works-slider-name{
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: 400;

  font-size: 18px;
}
.our_works-slider-section{
  text-align: center;
  font-weight: 300;

  font-size: 14px;
}

/*======= style CENRADIS - prices
*/

.prices {
  background-image: url(../img/bg-turg.png);
  background-position:right bottom;
}
.prices-title {
  margin: 10px auto;
  width: 300px;
  height: 50px;
}



/* --- price table --- */

.prices-table {
  width: 100%;

  background-color: #2a5759;
}

table{
  position: relative; /* позиционирование для всей таблицы */
  width:100%;
  border: none;
  border-collapse: collapse;
  color:#fff;
  text-align: center;
}

tr{
  vertical-align: middle;
}

td{
  padding: 17px 0;
  width:25%;
  border: none;
  border-bottom: 1px solid rgba(67, 124, 126, .5);
  color: #a2d5d7;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
thead td{
  padding: 40px 0 30px;
  border-bottom: 1px solid rgba(67, 124, 126, 1);
  color: #fff;
  text-transform: uppercase;

  font-weight: 400;
  font-size: 20px;
}
.row-price>td {
  padding: 25px 0;

  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-size: 32px;
  line-height: 20px;
}

.row-buttom>td {
  padding: 40px 0 80px;

  border-bottom: none;
}
.price-button{
  padding: 13px 38px;
  border: 1px solid #fff;
  border-radius: 4px;
  color:#fff;
  text-transform: uppercase;
  font-weight: 400;

  font-size: 16px;
}
.col1:hover .price-button{
  border: 1px solid #71b2b4;

  background-color: #478587;
}
.price-button:hover{
  border: 1px solid #71b2b4;

  background-color: #478587;
}
.price-button:active{
  border: 1px solid transparent;

  background-color: rgba(71,133,135, .2);
}


/* table column hover effect */

/*td:hover::after{*/
/*content: '';*/
/*width: 25%; /* ширина псевдоэлемента после наведения */
/*display: block;*/
/*position: absolute;*/
/*top: 0;*/
/*bottom: 0;/* растягиваем псевдоэлемент по вертикали */
/*background-color: #316769; /* фоновый цвет псевдоэлемента */
/*z-index: -1;*/
/*}*/


/*====== style MūSU KOMANDA komanda
*/


.bg-green {
  background-color: #57aa68;
}

.komanda p {
  margin: 0 auto;

  max-width: 950px;
}


.komanda-slider-photos {
  padding-bottom: 70px;
}
.komanda-slider-photo {
  position: relative;
  float: left;
  margin-right: 20px;
  text-align: center;
}
.komanda-slider-photo:last-child {
  margin-right: 0;
}
.member{
  margin: 0 auto;
  text-align: center;

  font-weight: 400;
}
.member-photo-container{
  position: relative;
  margin-bottom: 30px;
}
.member-photo {display: block;}
.member-photo-4{
}
.member-name{
  margin-bottom: 8px;

  font-size: 18px;
}
.member-position{
  font-size: 13px;
  line-height: 24px;
  opacity: .56;
}
.member-about{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  padding: 25px;
  padding-bottom: 20px;
  background-color: rgba(87, 170, 104, 0.8);
}
.slider-photo:hover .member-about{
  visibility: visible;
}

.member-about-title {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 24px;
}
.member-about-text{
  margin-bottom: 50px;
  font-weight: 300;

  font-size: 16px;
  line-height: 1.5;
}

.member-social-icon {
  display: inline-block;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center;
  background-repeat: no-repeat;
}
.member-social-icon-tw{
  background-image: url(../img/twitter.svg);
  background-size: 24px;
}
.member-social-icon-fb{
  background-image: url(../img/fb.svg);
  background-size: auto 24px;
}
.member-social-icon-dr{
  background-image: url(../img/dribbble.svg);
  background-size: 24px;
}
.member-social-icon:last-child{
  margin-right: 0;
}


/*======= style SAZINĀTIES communicate
*/

.bg-blue-pict {
  background-image: url(../img/bg-blue.png);
}
.communicate{
  padding-bottom: 45px;
}

/* ----- form style ----- */
.communicate-form {
  margin: 0 auto;

  width: 630px;
}
.communicate-form input, .communicate-form textarea{
  margin-bottom: 10px;
  padding: 14px 0 14px 15px;

  width: 100%;
  border-radius: 4px;
  background-color: rgba(46, 45, 107, 0.7);
  color: #fff;
  font-size: 13px;
}
.communicate-form input{
  height: 40px;
}
.communicate-form textarea{
  overflow: auto;

  height: 230px;
  color:rgba(255, 255, 255, 0.7) !important;
  resize: none;
}

/* кнопка формы */
input[type="submit"]{
  padding: 0;
  border: 1px solid #fff;
  background: transparent;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
}
input[type="submit"]:hover{
  border: 1px solid rgb(113,112,196);

  background-color: rgba(46,45,107,.6);
}
input[type="submit"]:active{
  border: 1px solid transparent;

  background-color: rgba(46,45,107,.6);
}


/* --- placeholder styling --- */
input::placeholder{
  color:#fff;
  opacity: 0.7;
}


input[type="text"]:hover, input[type="email"]:hover, textarea:hover{
  padding-left: 13px;

  border: 2px solid rgba(255, 246, 196, .7);
}
textarea:hover{padding-top: 12px;}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
  border: 2px solid rgba(255, 246, 196, .2);
}

/* ошибка ввода информации в форму */
label.input-name{
  position: relative;
}
.input-title-container{
  position: absolute;
  top:-8px;
  right: -169px;
  visibility: hidden;
}
.input-name:hover .input-title-container{
  visibility: visible;
}
.input-title {
  position: relative;
  padding-top: 12px;
  width: 150px;
  height: 38px;
  border-radius: 5px;
  background-color: #fff6c4;
  color:#fe0000;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}
.input-title::before{
  position: absolute;
  top:14px;
  left:-11px;
  width: 0;
  height: 0;
  border:6px solid transparent;
  border-right: 6px solid #fff6c4;
  content: '';
}

.communicate-address {
  margin: 45px auto 75px;
  text-align: center;

  font-size: 18px;
}

/*=======   style KARTE map */

.map-container {
  /*height: 600px;*/
  padding:0;
}
#map {
  width: 100%;
  height: 600px;
}

/* =======    style KĀJENE footer     */

footer {
  height: 80px;
  text-align: center;
}
.bg-blue{
  background-color: #2e2d6b;
}
.copyright {
  padding-top: 30px;
  vertical-align: middle;
  font-size: 13px;
  opacity: .5;
}

/*======================================
Системное оформление - не изменять
=======================================*/

.g00 {
  border: 4px solid coral;

  background-color: lightgray;
}

.gl0, .gl1, .gl2, .gl3, .gl4, .gl5, .gl6, .gl7, .gl8 {
  position: relative;
}

.gl0 {
  border: 1px solid rgba(255, 127, 80, .1);
  background: rgba(255, 127, 80, .1);
  box-shadow: inset 0 0 0 2px coral;
}

.gl1 {
  border: 1px solid rgba(87, 183, 85, .1);
  background: rgba(87, 183, 85, .1);
  box-shadow: 0 0 0 2px green;
}

.gl2 {
  border: 1px solid rgba(255, 45, 82, .1);
  background: rgba(255, 45, 82, .1);
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

.gl3 {
  border: 1px solid rgba(43, 46, 144, .1);
  background: rgba(43, 46, 144, .2);
  box-shadow: 0 0 0 2px rgb(220, 136, 221);
}

.gl4 {
  border: 1px solid rgba(94, 46, 144, .1);
  background: rgba(94, 46, 144, .2);
  box-shadow: 0 0 0 2px rgb(94, 46, 144);
}

.gl5 {
  border: 1px solid rgba(28, 219, 227, .1);
  background: rgba(28, 219, 227, .2);
  box-shadow: 0 0 0 2px rgb(28, 219, 227);
}
.gl6 {
  border: 1px solid rgba(144, 94, 46, .1);
  background: rgba(144, 94, 46, .2);
  box-shadow: 0 0 0 2px rgba(144, 94, 46, 0.6);
}
.gl7 {
  border: 1px solid rgba(144, 143, 46, .1);
  background: rgba(144, 143, 46, .2);
  box-shadow: 0 0 0 2px rgba(144, 143, 46, 0.6);
}
